* {
  box-sizing: border-box;
}

:root {
  --color-bg: #20B2AA;
  --color-bg-body: #FFF5EE;
  --color-active: #FF9999;
}

body {
  margin: 0;
  background-color: var(--color-bg-body);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: white;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}